# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=bioinformatica
POSTGRES_USER=api_user
POSTGRES_PASSWORD=changeme

# Elasticsearch
ES_HOST=http://localhost:9200

# MinIO
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=changeme
MINIO_SECURE=false

# App
API_HOST=0.0.0.0
API_PORT=8000
LOG_LEVEL=info
